/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.sublime-project
*.sublime-workspace
/.idea
.idea/*
.idea/workspace.xml
error_log
.DS_Store
sitemap.xml