/*login signup*/
.formBox {
    width: 600px;
    margin: 32px auto;
    background: #fff;
    padding: 50px 30px 30px 30px;
}

.formBox a {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

.formBox h3,
.formBox h4 {
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #b0b0b0;
    margin: auto;
}
.formBox h4 {
    font-size: 28px;
    border: 0;
    margin-bottom: 25px;
    padding: 0;
}

.formBox form {
    padding: 30px 0 0 0;
}
.formBox .fld-input {
    width: 85%;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formBox .fld-input input {
    text-align: left;
}
.formBox .fld-half {
    width: 50%;
    margin: auto;
}
.fld-accept label > span,
.fld-accept label > span > a {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-weight: 500;
}

.fld-accept label > span > a {
    display: initial;
    font-weight: 700;
}

.fld-accept label {
    display: flex;
    justify-content: space-between;
}

.fld-accept label > span {
    width: 95%;
}

.fld-accept label > input {
    position: relative;
    top: 5px;
}

.fld-accept {
    width: 85%;
    margin: auto;
}

.fld-accept label > span > a:hover {
    color: #005991;
}

.fld-btn {
    width: 85%;
    margin: auto;
    margin-top: 25px;
}

.fld-btn > input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: #005991;
    font-weight: 700;
    border: 0;
    color: #fff;
    border-radius: 5px;
}

.fld-btn > input:hover {
    background: #000;
}

.checkBox {
    margin-bottom: 15px;
}
/*login signup*/
